/* styles/layout.module.css */
.layout {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color:rgb(255, 255, 255)
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
   color:rgb(255, 255, 255)
}

.subtitle {
  font-size: 16px;
  margin-bottom: 20px;
   color:rgb(255, 255, 255)
}
